<!DOCTYPE html>
<html>
<head>
  <title>Recherche de Commune</title>
  {% load static %}
  <script src="{% static 'codepostal/script.js'%}"></script>
</head>
<body>
  <h1>Recherche de Commune</h1>
  <input type="text" id="zipInput" placeholder="Entrez le code postal" oninput="searchCommune()">
  <!--<button onclick="searchCommune()">Rechercher</button>-->
  <button onclick="reset()">Reset</button>
  <br><br>
  <ul id="communeList" style="cursor: pointer;"></ul>
  <p id="result"></p>
  
  <script>
    // reset du formulaire de recherche de commune
    
  </script>
</body>
</html>
